.newProduct {
  flex: 4;
  padding: 20px;
}

.addProductTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addProductForm {
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
}

.addProductFormLeft,
.addProductFormCenter,
.addProductFormRight {
  display: flex;
  flex-direction: column;
}

.addProductItemLabel {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItemInput {
  padding: 10px;
  margin-bottom: 20px;
}

.addProductItemSelect {
  height: 40px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: white;
}

.addProductButton {
  width: 200px;
  margin-bottom: 20px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: #40d38c;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
