.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(235, 235, 255);
  position: sticky;
  top: 50px;
  margin-top: -10px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 17px;
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.navLink {
  cursor: pointer;
  border-radius: 10px;
  display: block;
}

.sidebarListItem {
  padding: 5px;
  display: flex;
  align-items: center;
}

.navLink.active,
.navLink:hover {
  background-color: rgb(219, 219, 248);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 25px !important;
}
