.newsList {
  flex: 4;
}

.newsListItem {
  display: flex;
  align-items: center;
}

.newsListImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.newsListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #40d38c;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.newsListDelete {
  color: red;
  cursor: pointer;
}
